@use "./typography" as *;
@use "./colors" as *;
@use "./features";
@use "./input";

:root {
    @include typography-root;
    @include colors-root;
}

html,
body,
#root,
main.app {
    @include cols-0;
    background-color: $bg;

    padding: 0;
    margin: 0;

    height: 100vh;
    overflow: hidden;
}
