@use './colors' as *;

@mixin transform {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(var(--x), var(--y));
}

@mixin border {
    border-style: solid;
    border-width: 2px;
}

@mixin selected {
    border-color: $c;
}

@mixin rounded {
    border-radius: 0.5rem;
}